/* Basic Style */

.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
  margin: -8px;
  padding: 8px;
}

.eisenhower-matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.page__img {
  width: 100%;
}

.eisenhower-matrix .more-info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .eisenhower-matrix {
    text-align: center;
  }

}

.toDo-list {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-name {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-row-wrapper {
  display: flex;
}

ul {
  margin: 0;
  padding: 0px;
}

li,
h3,
h4 {
  list-style: none;
}

input,
button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover {
  color: #3a3a3a;
}

/* Heading */

h3,
h4,
.toDo-list__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-name-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-name-text:focus {
  color: #333;
}

/* New Task */

.toDo-list__label {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}
.task-row-wrapper__button:hover {
  color: #0fc57c;
}

/* Task list */

li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > * {
  vertical-align: middle;
}

.input__checkbox {
  margin: 0 10px;
}

.tasks-block__item label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.tasks-block__item .task-name-text {
  width: 226px;
}

.tasks-block__item .delete-task:hover {
  color: #cf2323;
}

.delete-task__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-task__img:hover {
  transform: rotateZ(0);
}

/* Completed */

#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.tasks-block__item .task-name-text {
  display: none;
}

.edit-mode .task-name-text {
  display: inline-block;
  width: 224px;
}

.edit-mode label {
  display: none;
}
